<footer class="footer fixed-bottom" style="height: 19.5%">
	<div class="col-md-12">
		<div class="row full-width">
			<div class="footer-header text-center">
				<span>Follow us!</span>
			</div>
		</div>
		<div class="row full-width">
			<div class="footer-social text-center">
				<a href=""><i class="fa fa-twitter fa-fw"></i></a>
				<a href=""><i class="fa fa-facebook-official fa-fw"></i></a>
				<a href=""><i class="fa fa-google-plus-official fa-fw"></i></a>
				<a href=""><i class="fa fa-instagram fa-fw"></i></a>
			</div>
		</div>
		<div class="row full-width text-center">
			<div class="footer-copyright">
				<span>Copyright 2017 - Feedtify</span>
			</div>
		</div>
	</div>
</footer>