<div class="f-card" id="f-card-hidden" hidden>
    <div class="row full-width f-card-header">
        <div class="col-11 full-width">
            <div class="f-card-header-text">
                <i class="fa fa-gamepad fa-fw"></i> <span></span>
            </div>
        </div>
        <div class="col-1 align-self-center full-width">
            <a href="javascript:void(0)" style="text-decoration: none; color: white" class="delPostBtn" hidden><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="row full-width f-card-image text-center">
        <img src="" alt="">
    </div>
    <div class="row full-width f-card-content">
        <div class="f-card-title">
            <h6 data-toggle="tooltip" data-placement="top" title=""><a href="#"></a></h6>
        </div>
        <div class="f-card-description">
            
        </div>
    </div>
</div>